.diary-container{
    padding: 10px;
}
.diarySide-container{
    width: 100%;
    height: 92%;
    background-color: #eee;
    border-radius: 10px;
}
.diarySide-title {
    padding: 10px;
}
.diarySide-title h5{
    font-size: 16px;
    color: rgb(65, 130, 226);
}
.diarySide-content{
    height: 80%;
    background-color: #fff;
    padding: 5px;
}
.diarySide-content ul {
    padding: 0;
}
.diarySide-content li {
    padding: 2px;
}
.diarySide-content a {
    cursor: pointer;
    text-decoration: none;
}
.folder-icon{
    margin-right: 10px;
}
.diarySide-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 5px;
}
.diarySide-footer button {
    width: 70%;
    border-radius: 10px;
    background-color: #fff;
    color: rgb(65, 130, 226);
    border: 1px solid #ccc;
}